#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	appstreamcli validate --no-net debian/python3-datovka.metainfo.xml
	dh_auto_test

override_dh_install:
	dh_install
	install -D -m644 debian/python3-datovka.metainfo.xml \
		debian/python3-datovka/usr/share/metainfo/io.github.vitexsoftware.python3-libdatovka.metainfo.xml
	install -D -m644 debian/python3-libdatovka.svg \
		debian/python3-datovka/usr/share/icons/hicolor/scalable/apps/python3-libdatovka.svg
